brotlipy==0.7.0
certifi 
cffi 
cryptography 
idna 
importlib-metadata==6.0.0
jaraco.classes==3.2.3
keyring==23.13.1
more-itertools==9.0.0
pycparser 
pyOpenSSL 
PySocks 
pywin32-ctypes==0.2.0
selenium 
urllib3 
win-inet-pton 
wincertstore==0.2
zipp==3.11.0
